#binary
*.exe
*.suo
*.idb
*.ipch
*.obj
*.pdb



#not binary but engine
*.sln
*.user

#folder
OpenGL/.vs/
OpenGL/Debug/
OpenGL/OpenGL/Debug/
OpenGL/OpenGL/x64/
OpenGL/FootballManager/Debug/
OpenGL/FootballManager/x64/